Repository davidroeca/NotarAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write --ignore-unknown
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix --cache --cache-location .eslintcache --max-warnings=0
  language: system

Reorganize dependencies
  package-lock.json
  package.json
Due: prettier

fix clippy
  src/commands/cache.rs
Due: none

Fix mcp file placement
  .mcp.json
  README.md
  docs-site/src/content/docs/getting-started/quick-start.md
  src/commands/init.rs
Due: prettier

Reconcile
  .notarai/cli.spec.yaml
  .notarai/docs-site.spec.yaml
  .notarai/system.spec.yaml
  docs-site/src/content/docs/guides/spec-format.md
  src/commands/init.rs
Due: prettier

Better handle glob patterns for exclusions to avoid e.g. locks
  .notarai/cli.spec.yaml
  src/commands/mcp.rs
  src/core/mcp_tools.rs
  tests/mcp_test.rs
Due: prettier

Better utilize cache in mcp server to reduce token usage
  .notarai/cli.spec.yaml
  src/commands/mcp.rs
  src/core/mcp_tools.rs
  tests/mcp_test.rs
Due: prettier

Improve docs and specs
  .notarai/cli.spec.yaml
  .notarai/docs-site.spec.yaml
  docs-site/astro.config.mjs
  docs-site/src/content/docs/getting-started/quick-start.md
  docs-site/src/content/docs/guides/reconciliation.md
  docs-site/src/content/docs/reference/cli.md
  docs-site/src/content/docs/reference/mcp-server.md
Due: prettier

Improve doc wording
  README.md
  commands/notarai-bootstrap.md
  docs-site/src/content/docs/background/comparison-to-sdd.md
  docs-site/src/content/docs/background/motivation.md
  docs-site/src/content/docs/guides/reconciliation.md
Due: prettier

Fix release workflow - use native build on actual platforms
  .github/workflows/release.yml
Due: prettier

Fix link in readme
  README.md
Due: prettier

Docs updates + improve install script
  .notarai/cli.spec.yaml
  .notarai/docs-site.spec.yaml
  .notarai/system.spec.yaml
  README.md
  docs-site/astro.config.mjs
  docs-site/src/content/docs/background/inspirations.md
  docs-site/src/content/docs/background/motivation.md
  docs-site/src/content/docs/getting-started/installation.md
  docs-site/src/content/docs/getting-started/quick-start.md
  docs-site/src/content/docs/guides/reconciliation.md
  docs-site/src/content/docs/index.mdx
  docs-site/src/content/docs/reference/cli.md
  docs-site/src/content/docs/reference/mcp-server.md
  scripts/install.sh
Due: prettier, eslint

Remove tsc from pre-commit
  .pre-commit-config.yaml
Due: prettier

Update spec
  .notarai/system.spec.yaml
Due: prettier

Reduce reconcile output
  .claude/commands/notarai-reconcile.md
  commands/notarai-reconcile.md
Due: prettier

More reliable doc links
  .notarai/docs-site.spec.yaml
  .notarai/system.spec.yaml
  CONTRIBUTING.md
  README.md
  docs-site/astro.config.mjs
  docs-site/src/content/docs/contributing.md
Due: prettier

Split out mcp diffing to provide better spec context
  .notarai/cli.spec.yaml
  CLAUDE.md
  docs-site/src/content/docs/reference/mcp-server.md
  src/commands/mcp.rs
  src/core/mcp_tools.rs
  tests/mcp_test.rs
Due: prettier

Update keywords and categories; bump version
  Cargo.lock
  Cargo.toml
Due: none

small reconcile edits
  commands/notarai-reconcile.md
Due: prettier

Fix step ordering, and re-init notarai
  .claude/commands/notarai-bootstrap.md
  .claude/commands/notarai-reconcile.md
  .notarai/README.md
  .notarai/notarai.spec.json
  commands/notarai-reconcile.md
Due: prettier

Address drift
  .notarai/ci.spec.yaml
  .notarai/system.spec.yaml
  README.md
Due: prettier

Add vendored mermaid and update specs
  .notarai/system.spec.yaml
  .pre-commit-config.yaml
  .prettierignore
  docs/.gitignore
  docs/book.toml
  docs/mermaid-init.js
  docs/mermaid.min.js
Due: prettier, eslint

Bump version in .notarai readme
  .notarai/README.md
Due: prettier

Clean up lockfile
  package-lock.json
Due: prettier

Prep new release
  Cargo.lock
  Cargo.toml
Due: none

Mount docs at /docs
  .github/workflows/docs.yml
Due: prettier

Fix docsite links
  README.md
Due: prettier

Disable web features in jsonschema
  Cargo.lock
  Cargo.toml
Due: none

Performance improvements
  src/commands/mcp.rs
  src/core/cache.rs
  src/core/mcp_tools.rs
Due: none

Slim down CLAUDE.md
  CLAUDE.md
Due: prettier

Updates to spec and CLAUDE.md for style
  .notarai/style.spec.yaml
  CLAUDE.md
Due: prettier

Better-define some rules in .claude/rules
  .claude/rules/rust.md
  .claude/rules/schema-version.md
  .claude/rules/style.md
  .claude/rules/testing.md
  .notarai/cli.spec.yaml
  .notarai/style.spec.yaml
  .notarai/system.spec.yaml
  CLAUDE.md
  docs/src/SUMMARY.md
  docs/src/guides/specs-vs-claude-rules.md
Due: prettier

Phase out production `.unwrap()`
  .claude/rules/rust.md
  .notarai/cli.spec.yaml
  src/commands/init.rs
  src/commands/mcp.rs
Due: prettier

Reconcile
  .notarai/docs.spec.yaml
Due: prettier

Minor readme updates
  README.md
Due: prettier

Bump version
  Cargo.lock
  Cargo.toml
Due: none

Fix contributing link
  README.md
Due: prettier

Switch to biome
  .claude/settings.json
  .notarai/system.spec.yaml
  .pre-commit-config.yaml
  biome.json
  docs/src/contributing.md
  package-lock.json
  package.json
  prettier.config.mjs
Due: prettier

Bump jsonschema version
  Cargo.lock
  Cargo.toml
Due: none

Add new hash of last reconcile for more efficient reconciliation
  .notarai/cli.spec.yaml
  .notarai/system.spec.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  commands/notarai-reconcile.md
  docs/src/contributing.md
  src/commands/mcp.rs
  src/commands/mod.rs
  src/commands/state.rs
  src/core/cache.rs
  src/core/mcp_tools.rs
  src/core/mod.rs
  src/core/state.rs
  src/main.rs
  tests/mcp_test.rs
  tests/state_test.rs
Due: prettier

Path conditions:
  prettier: any of: \.(js|ts|jsx|tsx|astro|md|mdx|json|yaml|yml|css|html)$
  eslint: any of: \.(js|ts|jsx|tsx|astro|mdx)$
